html, body {height: 100%;}

body {
  font-family: 'Noto Serif', serif;
}

.wrapper {min-height: 100%;}

.main {
  overflow:auto;
  padding-bottom: 50px;
}

footer {
  position: relative;
  margin-top: -30px;
  height: 30px;
  clear:both;
  text-align:center;
  padding-top:5px;
  background-color:#efefef;
}

header[role="masthead"] {
  font-family: 'Special Elite', serif;
  background-color: #778A5F;
  color: white;
  padding-top: 1.6em;
  padding-bottom: 0.4em;
  margin-bottom: 1.5em;
}

header[role="masthead"] h1 {
  display: inline-block;
  margin-right: 0.2em;
  font-size: 3.4em;
  font-weight: bold;
}

header[role="masthead"] .strapline {
  font-size: 1.4em;
}

section {
  width: 760px;
  margin: auto;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 1em;
}

a { color: #778a5f; }

ul[role="recent-posts"] { font-size: 1.2em; }
ul[role="recent-posts"] li { margin-bottom: 0.6em; }

article { line-height: 1.2em; }

article nav { margin-bottom: 1.5em; }

article nav a {
  display: block;
  padding-top: 5px;
  text-decoration: none;
  color: #778a5f;
}

article nav a:hover { text-decoration: underline; }

article nav a.previous { float: left; }

article nav a.next { float: right; }

article nav a.home {
  padding-top: 0px;
  width: 32px;
  height: 32px;
  margin: auto;
  background-image: url('/images/icons.png');
  background-position: -432px -178px;
}

article header {
  clear: left;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 1em;
  /* border-bottom: 1px solid #ccc; */
}

article header time {
  font-size: 0.6em;
  float: right;
  margin-top: 0.3em;
}

article p {
  margin-top: 1.2em;
}

article ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-bottom: 1em;
  margin-top: 0.4em;
}

article ul li {
  padding-left: 2em;
  text-indent: -1em;
  margin-bottom: 0.4em;
}

