<html>
  <head>
    <title>Planet Urf : {{ page.title }}</title>
    <link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Noto+Serif|Special+Elite' />
    <link rel="stylesheet" type='text/css' href="/css/reset.css" />
    <link rel="stylesheet" type='text/css' href="/css/style.css" />
  </head>
  <body>
    <section class="wrapper">
      <section class="main">
        <header role="masthead">
          <section class="header-contents">
            <h1>Planet Urf</h1>
            <span class="strapline">... blogging a dead horse</span>
          </section>
        </header>

        <section>
          {{ content }}
        </section>
      </section>
    </section>

    <footer>&copy; 2013 Planet Urf</footer>
  </body>
</html>
